### 1. Importe a biblioteca pandas e carregue o dataset:

In [3]:
import pandas as pd

df = pd.read_csv("netflix1.csv")

### 2. Exiba as primeiras 10 linhas do dataframe:

In [4]:
print(df.head(10))

  show_id     type                             title             director  \
0      s1    Movie              Dick Johnson Is Dead      Kirsten Johnson
1      s3  TV Show                         Ganglands      Julien Leclercq
2      s6  TV Show                     Midnight Mass        Mike Flanagan
3     s14    Movie  Confessions of an Invisible Girl        Bruno Garotti
4      s8    Movie                           Sankofa         Haile Gerima
5      s9  TV Show     The Great British Baking Show      Andy Devonshire
6     s10    Movie                      The Starling       Theodore Melfi
7    s939    Movie   Motu Patlu in the Game of Zones          Suhas Kadav
8     s13    Movie                      Je Suis Karl  Christian Schwochow
9    s940    Movie          Motu Patlu in Wonderland          Suhas Kadav

          country date_added  release_year rating   duration  \
0   United States  9/25/2021          2020  PG-13     90 min
1          France  9/24/2021          2021  TV-MA   1 Season
2   United States  9/24/2021          2021  TV-MA   1 Season
3          Brazil  9/22/2021          2021  TV-PG     91 min
4   United States  9/24/2021          1993  TV-MA    125 min
5  United Kingdom  9/24/2021          2021  TV-14  9 Seasons
6   United States  9/24/2021          2021  PG-13    104 min
7           India   5/1/2021          2019  TV-Y7     87 min
8         Germany  9/23/2021          2021  TV-MA    127 min
9           India   5/1/2021          2013  TV-Y7     76 min

                                           listed_in
0                                      Documentaries
1  Crime TV Shows, International TV Shows, TV Act...
2                 TV Dramas, TV Horror, TV Mysteries
3                 Children & Family Movies, Comedies
4   Dramas, Independent Movies, International Movies
5                       British TV Shows, Reality TV
6                                   Comedies, Dramas
7  Children & Family Movies, Comedies, Music & Mu...
8                       Dramas, International Movies
9         Children & Family Movies, Music & Musicals

### 3. Verifique o tipo de cada coluna e se possuem valores ausentes:

In [5]:
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB
None
show_id         0
type            0
title           0
director        0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

### 4. Obtenha estatísticas descritivas das colunas numéricas:

In [6]:
print(df.describe())

       release_year
count   8790.000000
mean    2014.183163
std        8.825466
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

### 5. Converta a coluna 'date_added' para datetime:

In [7]:
df['date_added'] = pd.to_datetime(df['date_added'])

### 6. Crie as colunas 'month_added' e 'year_added':

In [8]:
df['month_added'] = df['date_added'].dt.month
df['year_added'] = df['date_added'].dt.year

### 7. Conte quantos títulos há por tipo:

In [9]:
print(df['type'].value_counts())

type
Movie      6126
TV Show    2664
Name: count, dtype: int64

### 8. Filtre os filmes com duração > 100 min e lançados a partir de 2020:

In [10]:
df_filmes = df[df['type'] == 'Movie']
df_filmes['duration_int'] = df_filmes['duration'].str.extract('(\d+)').astype(float)
df_filmes_filtrados = df_filmes[
    (df_filmes['duration_int'] > 100) & (df_filmes['release_year'] >= 2020)
]
print(df_filmes_filtrados[['title', 'duration', 'release_year']])

                                   title duration  release_year
6                           The Starling  104 min          2021
8                           Je Suis Karl  127 min          2021
12                      99 Songs (Tamil)  131 min          2021
54                       Ankahi Kahaniya  111 min          2021
55        The Father Who Moves Mountains  110 min          2021
...                                  ...      ...           ...
6675                         Last Summer  102 min          2021
6967                   Leyla Everlasting  113 min          2020
7079                      Rising Phoenix  107 min          2020
7202                          Disclosure  108 min          2020
7311  Crip Camp: A Disability Revolution  108 min          2020

[339 rows x 3 columns]

<ipython-input-10-7a0676bd451d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filmes['duration_int'] = df_filmes['duration'].str.extract('(\d+)').astype(float)

### 9. Separe a coluna 'duration' em 'duration_int' e 'duration_unit':

In [11]:
df[['duration_int', 'duration_unit']] = df['duration'].str.extract(r'(\d+)\s*(\D+)')
df['duration_int'] = pd.to_numeric(df['duration_int'], errors='coerce')

### 10. Crie a coluna ‘seasons_int’ para as linhas TV Show:

In [12]:
df['seasons_int'] = df.apply(
    lambda row: row['duration_int'] if row['type'] == 'TV Show' else None, axis=1
)

### 11. Série com mais temporadas e filme com maior tempo de duração:

In [13]:
serie_maior = df[df['type'] == 'TV Show'].sort_values(by='seasons_int', ascending=False).head(1)
filme_maior = df[df['type'] == 'Movie'].sort_values(by='duration_int', ascending=False).head(1)
print("Série com mais temporadas:")
print(serie_maior[['title', 'seasons_int']])
print("Filme com maior duração:")
print(filme_maior[['title', 'duration_int']])

Série com mais temporadas:
               title  seasons_int
6697  Grey's Anatomy         17.0
Filme com maior duração:
                           title  duration_int
7822  Black Mirror: Bandersnatch           312

### 12. Agrupe por 'rating' e conte os títulos:

In [14]:
print(df['rating'].value_counts())

rating
TV-MA       3205
TV-14       2157
TV-PG        861
R            799
PG-13        490
TV-Y7        333
TV-Y         306
PG           287
TV-G         220
NR            79
G             41
TV-Y7-FV       6
NC-17          3
UR             3
Name: count, dtype: int64


### 13. Top 5 diretores com mais títulos:

In [15]:
print(df['director'].value_counts().head(5))

director
Not Given                 2588
Rajiv Chilaka               20
Alastair Fothergill         18
Raúl Campos, Jan Suter      18
Marcus Raboy                16
Name: count, dtype: int64

### Hipótese

"A maioria dos títulos adicionados em 2021 são da Índia, indicando uma possível estratégia de expansão da Netflix no mercado asiático."

### Verificação:
```python
df_2021 = df[df['year_added'] == 2021]
top_countries = df_2021['country'].value_counts().head(5)
print(top_countries)